Django==1.9.8
django-crispy-forms==1.6.0
django-filter==1.0.2
django-markdown-deux==1.0.5
django-pagedown==0.1.1
djangorestframework==3.6.2
djangorestframework-jwt==1.10.0
Markdown==2.6.8
markdown2==2.3.1
Pillow==3.3.0
PyJWT==1.4.2
pytz==2016.10
